div {
  font-family: Brush Script MT;
  height: 200px;
  width: 100%;
  border: solid;
  border-color: red;
  border-width: 1px;
  margin-top: 10px;
  align-content: center;
  text-align: center;
  box-shadow: 10px, 10px, 10px, orange;
  border-radius: 2px;
}
p {
  font-family: Brush Script MT;
}
